<!-- <p>accueil works!</p> -->
<section class="row container-fluid">
    <div class="fanolorana col-8 bg-primary">
        <img src="../../../assets/image/ciel.jpg" alt="Mpitandrina" width="300px" class="mx-auto d-block img-thumbnail">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam saepe ut natus. Inventore numquam laborum voluptas nam vitae ipsa ab deserunt. Maiores nulla at vel officia debitis repellendus impedit alias.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti quas veritatis tenetur vel ex debitis ipsa animi obcaecati eveniet. Quae asperiores, laudantium velit beatae laborum eveniet quia molestias debitis porro.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatem officiis, corrupti molestias eius consectetur harum rem labore modi eligendi voluptate nostrum, aperiam in pariatur nobis, accusamus eaque nesciunt. Perspiciatis?</p>
    </div>
    <div class="col-4 bg-danger text-center">
        <h3>PERIKOPA FJKM <span>mois + année</span></h3>
        <h4>Lohahevitra : <span>"MIKELEZA AINA AMIN'NY ASA FITORIANA"</span></h4>
        <div class="Dropdown">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  02 Octobre 2022
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  09 Octobre 2022
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  16 Octobre 2022
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  23 Octobre 2022
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  30 Octobre 2022
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
        </div>
       
    </div>
</section>
