.formulaire{
    background:url("../../../assets/image/ciel.jpg");
}
label{
    color: #ffffff;
    font-size: 20px;
}
input,textarea{
    background: transparent;
}
.boutton{
    padding: 10px 20px;
    position: relative;
    
    right :0;
}