<div class="contact mt-3">
  <div class="description row justify-content-md-center w-full">
    <p class="h3 col col-md-6 text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi dicta
      sit nulla dolores earum quod molestias dolorem animi ipsum voluptatibus
      Harum vero consequatur eum ab doloremque beatae rem asperiores facere
    </p>
  </div>
  <div class="formulaire container row m-auto py-4">
    <div class="wrapper-img col-6">
        <img src="../../../assets/image/ciel.jpg" alt="ciel" class="img-fluid">
    </div>
    <div class="wrapper-form col-6 align-self-center">
      <form>
        <div class="form-group">
          <label for="nom">Anaranao (tsy avela banga)</label>
          <input type="text" class="form-control p-3" id="nom" />
        </div>
        <div class="form-group">
          <label for="pwd">Adresy mailakao (tsy avela banga)</label>
          <input type="password" class="form-control p-3" id="pwd" />
        </div>
        <div class="form-group">
          <label for="telephone">Laharana findainao</label>
          <input
            type="tel"
            name="telephone"
            id="telephone"
            class="form-control p-3"
          />
        </div>
        <div class="form-group">
          <label for="raison">Antony</label>
          <input
            type="text"
            name="raison"
            id="raison"
            class="form-control p-3"
          />
        </div>
        <div class="form-group">
          <label for="commentaire"> Ny resaka tianao atao aminay</label>
          <textarea
            name="commentaire"
            id="commentaire"
            cols="30"
            rows="10"
            class="form-control"
          ></textarea>
        </div>
        <div class ="w-100 d-flex justify-content-end pt-5">
          <button type="button" class="btn btn-outline-info">Handefa</button>
        </div>
      </form>
    </div>
  </div>
</div>
