<header>
    <nav>
        <ul>
            <li><img src="./assets/image/home.svg" alt="home" class="icone"><a routerLink="./">Pejy voalohany</a></li>
            <li><img src="./assets/image/church-solid.svg" alt="" class="icone"><a routerLink="../">Fanompoam-pivavahana</a></li>
            <li><img src="./assets/image/rss-solid.svg" alt="vaovao" class="icone"><a href="">Vaovao</a></li>
            <li><img src="./assets/image/quote-left-solid.svg" alt="sokajy" class="icone"><a href="">Sokajy</a></li>
            <li><img src="./assets/image/phone-volume-solid.svg" alt="contact" class="icone"><a href="">Hifandray</a></li>
        </ul>
    </nav>
    <div class="logo">
        <div class="logoFjkm">
            <img src="./assets/image/logoFjkm.png" alt="logo" class="">
        </div>
        <div class="titre">
        <h3>Fiangonan'i Jesoa Kristy eto Madagasikara</h3><br/>
        <h3>FITANDREMANA RASALAMA MANJAKARAY</h3>
        <h4>"Miorena tsara aza miova"</h4>
        </div>
    </div>
</header>